* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 56px;
    background: rgba(47,47,47,0.98);
    position: relative;
}
.logo {
    width: 96px;
    height: 56px;
    margin-left: 25px;
    float: left;
    display: block;
}
.fa-dribbble {
    color: pink;
}

.drbl{
    cursor: pointer;
    background: transparent;
    color: rgb(146, 136, 136);
    margin-top: 15px;
}
.nav-space {
    width: 50%;
    height: 30px;
}
.navigation-list {
    list-style: none;
}
.nav-item {
    width: auto;
    height: 50px;
    float: left;
    padding: 20px 10px;
    color: rgb(146, 136, 136);
    position: relative;
}
    a {
        color: rgb(146, 136, 136);
        display: block;
        text-decoration: none;
        font-family:sans-serif;
        font-size: 15px;
    }
    .shot-menu {
        padding: 5px;
    }
.a1 {
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
.sub-nav-list {
    width: 130px;
    background: rgba(47,47,47,0.98);
    list-style: none; 
    top: 52px;
    left: 0px;
    display: none;
    color: white;
    border-radius: 5px;
    position: absolute;
    display: none;
}
.s2 {
    width: 170px;
}
.nav-item:hover .sub-nav-list {
    display: block;
}
a:hover {
    color: #fff;
}
img:hover {
   opacity: 0.6;
}
.shot-menu:hover {
    background: grey;
    border-radius: 5px;
}
.search {
    width: 200px;
    margin-top: -15px;
    margin-right: 50px;
    float: right;
    display: block;
    position: relative;
}
.input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 20px;
   
}
.fa-search {
    color: #999;
    width: 15px;
    height: 13px;
    float: left;
    margin: 5px;
    opacity: 0.6;
    position: absolute;
    margin-left: 3px;
    margin-top: 6px;
    left: 0;
    
}
.sign {
    width: 150px;
    height: 40px;
    float: right;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 200px;
    margin-top: -20px;

}
.sign-1 {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
}
.main {
    width: 100%;
    height:auto;
}

.content {
    width: 100%;
    height: auto;
    background:#fff;
}
.text {
    width: 600px;
    height: 200px;
    padding-top: 100px;
}
.text h1 {
    font-size: 58px;
    margin-left: 80px;
}
.text p {
    color: rgba(226, 60, 60, 0.98);
    font-size: 25px;
    margin-left: 80px;
}
.headline-gif img {
    width: 580px;
    height: 500px;
    margin-left: 680px;
    margin-top: -180px
}
.red-sign {
    background: rgba(245, 107, 107, 0.98);
    border-radius: 5px;
    width: 100px;
    height: 50px;
    border:none;
    outline: none;
    margin-left: 100px;
    margin-top: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 17px;
}
.headline-foot {
    width: 330px;
    height: 80px;
    margin-left: 100px;
}
.Kajdax {
    text-decoration:underline; 
    color: #000;
}
p {
    font-size: 17px;
}
.nav-drop {
    width: auto;
    height: 50px;
    float: left;
    padding: 20px 10px;
    color: #fff;
    position: relative;
}
.drp-menu {
    padding: 5px;
    color: black;
}
.sub-drop-list {
    width: 150px;
    background: #fff;
    list-style: none; 
    position: absolute;
    top: 52px;
    left: 0px;
    display: none;
    color: rgba(47,47,47,0.98);
    padding:5px;
    border-radius: 5px;
    position: absolute;
    display: none;
}
.nav-drop:hover .sub-drop-list {
    display: block;
}
.drp-menu:hover {
    background: grey;
    color: rgba(218, 67, 67, 0.98);
}
.hd-foot {
        width: 100%;
        height: 51px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eee;
    }
    .hd-foot-menu {
        margin-right: 10px;
        font-size: 15px;
        position: relative;
        font-weight: 500;
    }
.gallery {
    margin:5px auto;
    width: 95%;
    height:805px;
    background:#f1f1f1f1;
}
.gal-drible {
    width: 100%;
    height: auto;
    position: relative;
}
.album {
    list-style: none;
}
.box {
    width: 220px;
    height: 190px;
    background: #fff;
    top:0;
    left: 0;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 5px;
    display: block;
    float: left;
}
.imglink {
    
    width: 200px;
    height: 150px;
    margin: 10px
}
.save {
    width: 50px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 42%;
    left:17%;
    margin-top: 150px;
    display: none;
    cursor: pointer;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
}
.like {
    width: 70px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 42%;
    left:22%;
    margin-top: 150px;
    padding-left: 15px;
    display: none;
    cursor: pointer;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
}
.fa-heart {
    position: absolute;
    left:9%;
    top: 15%;
}
.box:hover .save  {
    display: block;
}
.box:hover .like {
    display: block;
}
.save:hover {
    background: grey;
}
.like:hover {
    background: grey;
}
.fa-paperclip {
    position: absolute;
    margin-top: 165px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.6;
}
.attachment {
visibility: hidden;
width: 165px;
height: 30px;
background: #000;
color: #fff;
font-size: 10px;
font-weight: bold;
padding: 0 15px 0 18px;
line-height: 30px;
font-family: 'Nunito', sans-serif;
margin-top: -55px;
margin-left: -10px;
border: 1px solid white;
text-align: left;
}
.attachment:before {
    content: "";
    display: block;
    position: absolute;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: -3px;
    left: 5px;
 }
 .fa-paperclip:hover .attachment {
    visibility: visible;

 }
 .red-sign-in {
     display: block;
     width: 400px;
     height: 50px;
     float: left;
     margin: 100px 400px;
 }
 .red-text {
     width: 350px;
     height: 45px;
     border: none;
     border-radius: 4px;
     background:rgba(218, 67, 67, 0.98);
     margin-left: 25px;
     outline: none;
     color: white;
     font-family: arial;
     font-weight:bold;
     font-size: 16px;
     cursor: pointer;
 }
 .red-text:hover{
    background: rgb(250, 12, 52);
 }
 .blue-sign-in {
     width: 200px;
     height: 40px;
     display: block;
     float: left;
     margin-top: -100px;
     margin-left: 500px;
     text-align: center;
     padding: 10px;
 }
 .blue-text {
     text-align: center;
     font-size: 19px;
     font-family: arial;
     color: rgba(51, 105, 253, 0.98);
     cursor: pointer;
 }
 .blue-text:hover {
     color:rgba(7, 50, 170, 0.98);
 }
 .fa-eye {
     margin-left: 95px;
 }
 .fa-comment {
     margin-left: 10px;
 }
 .footer {
     width: 100%;
     height: 250px;
     background: #fff;
 }
 .foot-text {
     padding-top: 10px;
     padding-left: 20px;
     font-size: 16px;
 }

 .foot-img {
     margin-left: 20px;
 }
 .span-text {
     padding-left: 20px;
     padding-top: 15px;
     font-size: 15px;
     opacity: 0.6;
     font-weight: bold;
 }
 .foot-p-text {
    width: 250px;
    height: 120px;
    margin: 10px 20px;
    display: block;
    float: left;
 }
 .foot-img-div {
     width: 250px;
 }
 .fas-fas {
     display: block;
     width: 250px;
     height: 20px;
     margin-left: 35px;
 }
 .new {
     color: grey;
     font-size: 25px;
     padding-left: 5px;
}
.new:hover {
    color: #000;
}
.footer-navigation {
    margin-top: -70px;
    display: block;
    float: left;
}
.footer-list {
    list-style: none;
}
.footer-item {
    width: auto;
    height: 15px;
    padding-top: 20px;
    color: rgb(146, 136, 136);
}
.footer-item:hover {
    color: #000;
}
.img-screen {
    width: 300px;
    display: block;
    float: left;
    margin-left: 130px;
    margin-top: -70px;
}
.dribbbble {
    width: 250px;
    display: block;
    float: left;
}
.img-33 {
    margin-top: -70px;
    margin-left: 130px;
}


